@import "tailwindcss";

@config "../../tailwind.config.js";

@theme inline {
  --font-montserrat: var(--font-montserrat);
  --font-inter: var(--font-inter);
}

@theme {
  --color-primary: #261772;
  --color-primary-dark: #0b1628;

  /* GREY */
  --color-grey: #666666;
  --color-off-grey: #5c6677;
  --color-light-grey: #e1e1e1;

  --color-light-dark: #2e2e2e;

  --color-off-white: #f0f0f0;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: var(--font-inter);
    color: var(--color-primary-dark);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  p {
    @apply text-light-dark;
  }
}

@layer components {
  .heading-1 {
    @apply font-bold text-3xl md:text-[2.5rem] leading-[120%] text-primary-dark capitalize;
  }

  .heading-2 {
    @apply font-bold text-xl md:text-[26px] leading-[120%] text-primary-dark capitalize;
  }
  .input-box {
    @apply bg-[#fcfcfd] border-[1.5px] border-[#f1f1f3] rounded-xl p-3 outline-0;
  }

  .btn-primary {
    @apply rounded-xl bg-primary text-white px-5 py-3 md:px-4 md:py-2 text-sm font-semibold;
  }

  .btn-secondary {
    @apply border border-light-grey rounded-2xl text-sm md:text-base text-black font-bold px-10 py-2  capitalize hover:bg-light-grey/10;
  }

  .custom-hover {
    @apply transition hover:scale-110 ease-in-out duration-500 delay-100;
  }

  .custom-card {
    @apply border border-light-grey rounded-4xl flex flex-col cursor-pointer hover:border-[1.6px] hover:shadow-xl h-full;
  }

  .image-hover {
    @apply bg-contain transition group-hover:scale-110 duration-500 ease-in-out;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .custom-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
